{% extends 'base.html' %}

{% block title %}Resume - Abdul Ahad{% endblock %}
{% load static %}

{% block content %}
<!-- Page Content-->
<div style="background: linear-gradient(135deg, #e6dfba 0%, #3d9c75 100%);" class="container px-5 my-5">
    <div class="text-center mb-5">
        <br><br>
        <h1 class="display-3 fw-bolder mb-0"><span class="text-gradient d-inline">Professional Resume</span></h1>
    </div>
    <div class="row gx-5 justify-content-center">
        <div class="col-lg-11 col-xl-9 col-xxl-8">
            <!-- Experience Section-->
            <section class="mb-5">
                <div class="d-flex align-items-center justify-content-between mb-4">
                    <h2 class="text-primary fw-bolder mb-0">Experience</h2>
                    <a class="btn btn-primary px-4 py-3 rounded-pill" target="_blank" href="{% static 'assets/abdulahad...pdf' %}">
                        <i class="bi bi-download me-2"></i>
                        Download Resume
                    </a>
                </div>
                
                <!-- Experience Cards -->
                <div class="card shadow border-0 rounded-4 mb-5 hover-elevate">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2024 - Present</div>
                                    <div class="small fw-bolder">Web Developer</div>
                                    <div class="small text-muted">Code Hype Solutions</div>
                                    <div class="small text-muted">Khanpur, Pakistan</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul class="list-unstyled mb-0">
                                    <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Developed and maintained web applications using Python Django framework.</li>
                                    <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Utilized relational databases such as PostgreSQL to store and retrieve data.</li>
                                    <li class="mb-2"><i class="bi bi-check-circle-fill text-primary me-2"></i>Collaborated with cross-functional teams to deliver high-quality projects on time.</li>
                                    <li><i class="bi bi-check-circle-fill text-primary me-2"></i>Implemented efficient algorithms and data structures for optimal performance.</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card shadow border-0 rounded-4 mb-5 hover-elevate">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
                                <div class="bg-light p-4 rounded-4">
                                    <div class="text-primary fw-bolder mb-2">2023 - Present</div>
                                    <div class="small fw-bolder">Chrome Extensions Developer</div>
                                    <div class="small text-muted">Fiverr Ltd</div>
                                    <div class="small text-muted">Remote, Pakistan</div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="mb-0">Developed custom Chrome Extensions for clients on Fiverr, focusing on task automation and user experience enhancement. Each project combined creativity with technical expertise to deliver practical, user-friendly solutions.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            
            <!-- Education Section-->
            <section class="mb-5">
                <h2 class="text-primary fw-bolder mb-4">Educational Journey</h2>
                
                <!-- Education Cards -->
                <div class="card shadow border-0 rounded-4 mb-5 hover-elevate">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
                                <div class="bg-gradient-primary-to-secondary p-4 rounded-4 text-white">
                                    <div class="fw-bolder mb-2">2020 - 2024</div>
                                    <div class="mb-2">
                                        <div class="fw-bold">Khawaja Fareed University of Engineering and IT</div>
                                        <div class="small">Rahim Yar Khan, Pakistan</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div>Bachelor's of Computer Science</div>
                                        <div class="mt-2 fw-bold">CGPA: 3.65/4.0</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="lead mb-4">Completed a comprehensive Computer Science program, developing strong skills in programming, algorithms, and software development. Engaged in challenging projects and coursework that fostered analytical thinking and problem-solving abilities.</p>
                                <a style="background: linear-gradient(135deg, #5e67ec 0%, #d6feed 100%);border: 2px solid #ffafbd;" href="{% static 'assets/transcript_final.pdf' %}" class="btn btn-outline-primary btn-sm" target="_blank">
                                    <i class="bi bi-file-earmark-pdf me-2"></i>View Degree
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                
                <div class="card shadow border-0 rounded-4 mb-5 hover-elevate">
                    <div class="card-body p-5">
                        <div class="row align-items-center gx-5">
                            <div class="col-md-4 text-center text-md-start mb-4 mb-md-0">
                                <div class="bg-gradient-primary-to-secondary p-4 rounded-4 text-white">
                                    <div class="fw-bolder mb-2">2018 - 2020</div>
                                    <div class="mb-2">
                                        <div class="fw-bold">Iqra Postgraduate College</div>
                                        <div class="small">Sadiqabad, Pakistan</div>
                                    </div>
                                    <div class="fst-italic">
                                        <div>Intermediate in Pre-Medical</div>
                                        <div class="mt-2 fw-bold">Percentage: 77%</div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <p class="lead mb-4">Completed my Intermediate in Pre-Medical. The rigorous coursework and lab work have provided me with a deep understanding of the principles of life sciences, which has been invaluable in my academic journey and personal growth.</p>
                                <a style="background: linear-gradient(135deg, #5e67ec 0%, #d6feed 100%); border: 2px solid #ffafbd;" href="{% static 'assets/fsc_degree.pdf' %}" class="btn btn-outline-primary btn-sm" target="_blank">
                                    <i class="bi bi-file-earmark-pdf me-2"></i>View Degree
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </section>

            <!-- Skills Section-->
<section>
    <div class="d-flex align-items-center mb-4">
        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-tools"></i></div>
        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Professional Skills</span></h3>
    </div>
    <br>
    <div class="card shadow border-0 rounded-4">
        <div class="card-body p-5">
            <!-- Professional skills list-->
            <div class="mb-5">


                <div class="row row-cols-1 row-cols-md-3 g-4 mb-4">
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);border: 2px solid #ffafbd;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-code-square fs-4 text-primary me-2"></i>
                            <span>Software Development</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);border: 2px solid #ffafbd;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-globe fs-4 text-primary me-3"></i>
                            <span>Web Development</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);border: 2px solid #ffafbd;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-palette fs-4 text-primary me-3"></i>
                            <span>Design</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);border: 2px solid #ffafbd;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-server fs-4 text-primary me-3"></i>
                            <span>Database</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);border: 2px solid #ffafbd;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-cloud-upload fs-4 text-primary me-3"></i>
                            <span>Deployment</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%);border: 2px solid #ffafbd;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-laptop fs-4 text-primary me-3"></i>
                            <span>User Interface Design</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
    <div class="d-flex align-items-center mb-4">
        <div class="feature bg-primary bg-gradient-primary-to-secondary text-white rounded-3 me-3"><i class="bi bi-code-slash"></i></div>
        <h3 class="fw-bolder mb-0"><span class="text-gradient d-inline">Languages & Frameworks</span></h3>
    </div>
    <br>
            <!-- Languages list-->
    <div class="card shadow border-0 rounded-4">
        <div class="card-body p-5">
            <div class="mb-0">
               
                <div class="row row-cols-1 row-cols-md-3 g-4">
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); border: 2px solid #4b5563;" class="d-flex align-items-center rounded-4 p-3 h-100">
                            <i class="bi bi-filetype-html fs-4 text-primary me-3"></i>
                            <span>HTML/CSS</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); border: 2px solid #4b5563;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-filetype-js fs-4 text-primary me-3"></i>
                            <span>JavaScript</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); border: 2px solid #4b5563;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-filetype-py fs-4 text-primary me-3"></i>
                            <span>Python</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); border: 2px solid #4b5563;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-diagram-3 fs-4 text-primary me-3"></i>
                            <span>Django</span>
                        </div>
                    </div>
                    <div class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); border: 2px solid #4b5563;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-gear fs-4 text-primary me-3"></i>
                            <span>Django Rest Framework</span>
                        </div>
                    </div>
                    <div  class="col">
                        <div style="background: linear-gradient(135deg, #a8edea 0%, #fed6e3 100%); border: 2px solid #4b5563;" class="d-flex align-items-center bg-light rounded-4 p-3 h-100">
                            <i class="bi bi-table fs-4 text-primary me-3"></i>
                            <span>SQL</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <br><br>
</section>
        </div>
    </div>
</div>
{% endblock %}